body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.paper{
  /* margin-top: 50px; */
  
  height: 80px;
  width: 500px;
  color: darkcyan;
  background-color: chartreuse;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.body{
  padding:25px;
  padding-left: 400px;
  margin-left: auto;
}
.list {
  padding-left: 400px;
  padding-right: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}